@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply border border-border dark:border-dark-border h-[50px] flex-row justify-center items-center rounded-full
}

.chatMediaBtn{
    @apply py-2 my-2 w-1/3 items-center
}

.customBtn{
    @apply border w-full bg-custom border-custom h-[50px] flex-row justify-center items-center rounded-full
}

.customAutoBtn{
    @apply border py-1 px-3 bg-custom border-custom h-[50px] flex-row justify-center items-center rounded-full
}

.input{
    @apply h-[50px] flex flex-row items-center text-lg px-5 w-full text-primary dark:text-dark-primary rounded-full font-rRegular bg-secondary dark:bg-dark-secondary
}

.outlineBtn{
    @apply border w-full border-border dark:border-dark-border h-[50px] flex-row justify-center items-center rounded-full
}

.pill{
    @apply py-1 px-3 border rounded-full flex-row items-center border-custom bg-custom
}

.pillInActive{
    @apply border-border dark:border-dark-border py-1 px-3 border rounded-full flex-row items-center
}

.selectList{
    @apply w-full z-50 bg-primary dark:bg-dark-primary absolute left-0  border border-border dark:border-dark-border  max-h-[250px] overflow-auto rounded-[10px]
}

.text{
    @apply text-primary dark:text-dark-primary
}
