@tailwind base;
@tailwind components;
@tailwind utilities;


.input{
    @apply h-[50px] flex flex-row items-center text-lg px-5 w-full text-primary dark:text-dark-primary rounded-full font-rRegular bg-secondary dark:bg-dark-secondary
}

.selectList{
    @apply w-full z-50 bg-primary dark:bg-dark-primary absolute left-0  border border-border dark:border-dark-border  max-h-[250px] overflow-auto rounded-[10px]
}
